logging:
  level:
    org:
      springframework: INFO

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/bakerydb
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: admin
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none

---

spring:
  profiles: test
  datasource:
    url: jdbc:postgresql://localhost:5432/bakerydb
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: admin
    jpa:
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect
      hibernate:
        ddl-auto: none
