logging:
  level:
    org:
      springframework: INFO

spring:
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:file:/home/musashi/Documents/proyectos/java/h2db/bakery
    driver-class-name: org.h2.Driver
    username: sa
    password: password
  jpa:
    database-platform: orh.hibernate.dialect.H2Dialect