logging:
  level:
    org:
      springframework: INFO

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/bakerydb
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: admin
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    hibernate:
      ddl-auto: none

---
spring:
  profiles.active: test
  jpa:
    hibernate:
      ddl-auto: none
    properties.hibernate.jdbc.lob.non_contextual_creation: true
  datasource:
    driver-class-name: org.testcontainers.jdbc.ContainerDatabaseDriver
    url: jdbc:tc:postgresql:12://localhost/sampleapp
    username: postgres
    password: admin
