<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{{title}}</title>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
          href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<body>
<div class="container p-3 my-3 border">
    <h1 class="display-4">Baker world!</h1>
    <p class="lead">This is a simple bakery unit, please look at the map for more details.</p>
    <hr class="my-4">
    <p>Timeless Baking but express checkout</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Let's Bake</a>
</div>
</body>
</html>